body {
    font-family: 'Minecraft', Arial, sans-serif;
    background-color: #6b8e23;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('img.png');
    background-size: cover;
    padding-top: 50px;
}

.container {
    text-align: center;
    background: #7f7f7f;
    padding: 30px;
    border: 5px solid #4c4c4c;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 26px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.buttons {
    margin-top: 20px;
    width: 470px;
}

button {
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Minecraft', Arial, sans-serif;
    box-shadow: 0 4px #2a2a2a;
}

#sim {
    background-color: #5cb85c;
    color: #fff;
}

#sim:hover {
    background-color: #4cae4c;
}

#nao {
    background-color: #d9534f;
    color: #fff;
    position: absolute;
}

#nao:hover {
    background-color: #c9302c;
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
}


@font-face {
    font-family: 'Minecraft';
    src: url('https://fonts.cdnfonts.com/s/17893/MinecraftRegular-bW0x3.ttf') format('truetype');
}


@keyframes floatHearts {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    animation: floatHearts 3s ease-in forwards;
    pointer-events: none;
}

.heart.mine {
    width: 40px;
    height: 40px;
}

.heart.mine img {
    width: 100%;
    height: 100%;
}


.heart:nth-child(even) {
    animation-duration: 2.5s;
    animation-delay: 0.5s;
}

.heart:nth-child(odd) {
    animation-duration: 3.5s;
    animation-delay: 1s;
}